
.card{
    height: 240px;
    width: 480px;
    display: table;
    align-content: center;
    color: black;
    border: black;
    border-radius: 10px;
    background-color: bisque;
    margin-bottom: 10px;
    border: 4px double black;
    transition:1s all;
position: relative;
}
.card:hover  {
    box-shadow: inset 0 0 0 250px #53ea93;

}

.text{
    margin-left: 30px;
    margin-top: -100px;
    display:flex;
    font-family:  cursive;
    font-style: normal;
    font-size: 28px;

    position: absolute;
}

.picture{
    margin-left: 300px;
    margin-top: -60px;
    height: 120px;
    width: 120px;
    display: flex;
    position: absolute;
}