.panel{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: left;
    opacity: 0;
    pointer-events: none;


}

.panel.active{
    opacity: 1;
    pointer-events: all;
    position: absolute;
    z-index: 150;
}

.panel__content{
    padding: 20px;
    background-color: bisque;
    border-right-color: black;
    border-right: 20px;
    transform: translateX(-20em) ;
    transition: 0.5s all;
    height: 100%;
    width: 24vw;
    display: flex;
    flex-direction: column;



}

.panel__content.active{
    transform: scale(1);

}
