.openButton{
    height: 50px;
    width: 80px;
    border-radius: 30px;
    background-color: gray;
    position: static;
}

.closeButton{
    height: 50px;
    width: 50px;
    display: flex;
    background-color: red;
    border: black;
}